<!-- Loop over each object in the posts array --> 
{{#each posts}}
    <!-- Display the title of the post --> 
    <h1>{{title}}</h1>
    <!-- Display the content of the post --> 
    <p>{{content}}</p>
{{/each}}


